@{
    ViewBag.Title = "About";
}
    <div class="row">
        

        <article>

            <div class="col-lg-12 col-xs-12">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
                <p>
                    <strong>&nbsp; With Gratitude</strong><br />
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; As a child, seeing my mother at the easel was part of the view from the living room when we were growing up. She was always painting and looking for subjects. Her landscapes,  inspired by a particular view she had seen in her day to day travels, would often mean a short road trip for us. We would go with her (willing or not) so she could create a “quick” watercolor study. It usually took her several hours to complete a study and then there were those times when it took a while to get to the destination. A child's sense of time passing can be torture. Once there she would set up her easel, pencil out an idea and begin painting very quickly. She would take the  watercolor home and create a whole new composition on another canvas. 
	                        Sometimes I would watch her work, creating her vision out of the blank canvas, adding dimension and a sense of texture or movement, weaving in warmth or coolness with color. Mom could see colors where there seemed to be only shades of grey. She would point them out to me saying “See the purple in the cloud?”. I would nod and try to see what the heck she was talking about but I didn’t have her technicolor vision. 
	                        It could take Mom several weeks to finish a painting sometimes more. When things were not going well, she would struggle to get the composition or the colors right. I’d see her scrape the paint off the canvas and start over. It was painful to watch. She would talk to herself in frustration but would persevere over her subject. She was master of this ship. Funny Story. My mother had a little tag stuck on the side of the easel paints tray which read “Delacroix never won a prize. Vincent sold only one painting in his lifetime." My Dad said she would use it as consolation when she was struggling with changing her style from strictly "chiaroscuro" to a style that would accommodate the brilliant colors she saw in Hawaii.	
        <br />
                    <br />
                    <br />
                    <strong>&nbsp; Colettes’s Philosophy on Art Materials</strong><br />
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; My parents were partners in life and in creating enduring works of art. My mother’s oil paintings were done on Belgian linen (which under average conditions has a minimum life span of 200 years), mounted with tacks (not staples), primed with white lead for permanence, and supported on kiln dried stretcher bars. The watercolor paper is 100% rag, 260 and 300 lb. This is as permanent as any watercolor paper can be. They were careful to choose paint, both oil and watercolor that meets the ASTM Standard D5067. My father would research every color my mother would use to ensure that the pigments were absolutely permanent. He also made the hardboard panels used for many of moms oil paintings. The backs were cradled to prevent warping, and primed with alkyd which created a surface that was at least as permanent as canvas. 
        <br />
                    <br />
                    <br />
                    <strong>&nbsp; Colette’s Family and Art</strong><br />
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; My mother was a self made scholar. She was grew up in Lakewood, Ohio, youngest daughter of a fireman. She graduated from a St Joseph’s Academy for Girls high school and it was there that the nuns recognized her talent and worked at developing it, providing her with opportunities to paint including creating a mural for the school. At the age of 19, she’d married my father who  became an officer in the U.S. Navy. By the time she was 29, she was raising five kids, painting, showing and selling her work successfully while traveling wherever the Navy sent my father.  Her self study included a book the Impressionists used:  "The principles of harmony and contrast of colors" by  M.E.Chevreul that she purchased  in 1969 in Hawaii, often referring to and discussing with my father. She also studied with two great American artists, namely Robert Brackman (N.A.) and Jade Fon (AWS). My father had a final assignment in England in 1980 and in 1983, my parents selected Ireland as their retirement home where they lived happily ever after until my mother’s passing in 2014. 
                            When my mother passed away I walked through her beautiful little studio and felt crushed by the weight of the fact that we would never see her sitting at her easel creating another one of her beautiful paintings. So my father and I decided to create a virtual gallery of some of the paintings.  Most are in private collections. Some are listed below (You kind of get the sense of where we’ve been): 
                </p>
                <ul>
                    <li>Norfolk Ledger Star Collection, Norfolk, Virginia</li>
                    <li>Honolulu Advertiser Collection, Honlulu, Hawaii</li>
                    <li>Chariman, Board of Trustees, Art Institute of Chicago</li>
                    <li>Chairman, Toyota Motor Car Corporation, Tokyo, Japan</li>
                    <li>Waialeae Country Club, Honolulu, Hawaii</li>
                    <li>Mr. Craig McKechnie, McKechnie Cleaners, Cork</li>
                    <li>Mr. E.P. Galvin, Guiness Corp. Dublin</li>
                    <li>Mr. Jack Charlton, Manager, Republic of Ireland Soccer Team, Dublin</li>
                </ul>
                <div style="text-align: center;">
                    <img src="../Images/ColetteAndJim.jpg" alt="Alternate Text" /><br />
                    <p class="text-center">1952</p>
                </div>
            </div>

        </article>
    </div>