@{
    ViewBag.Title = "Contact";
}
    <div class="row">
        <div class="col-lg-12 col-xs-12">

            <div class="contactWindow">
                <hgroup class="title";>
                    <h1 class="text-center">@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>

                <section class="contact text-center">
                    <header>
                        <h3>Please contact us with questions about Colette Mills using the email below</h3>
                    </header>
                    <p>
                        <span class="label">contact:</span>
                        <span><a href="mailto:colettemillsartist@gmail.com">colettemillsartist@gmail.com</a></span>
                    </p>
                </section>
            </div>
        </div>
    </div>
